<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Who We Are</h2>
        <hr class="light">
        <p class="text-faded">
          Chiyambi Community Foundation is a non-governmental organization
          dedicated to improving the lives of people in our community, Katete,
          Eastern Province, Zambia. Our mission is to uplift and empower
          vulnerable communities by providing essential resources and support.
          We are dedicated to ensuring access to clean and safe water,
          supporting vulnerable children and orphans with education, bursary
          and necessary supplies. We strive to alleviate poverty by proving
          food and other basic necessities, fostering a community where
          everyone has the opportunity to thrive and lead a fulfilling life.
        </p>
        <p class="text-faded">
          We work by identifying micro projects that can have a big impact on
          the lives of people in our community. We are just getting started and
          we need your help to make a difference.  If you would like to support
          our work, please consider making a donation.
        </p>
        <!--
          add this back when done with cell phone call to action
        <a href="#get-involved" class="btn btn-default btn-xl page-scroll">Get Started</a>
        -->
        <a href="/donate" class="btn btn-secondary btn-xl page-scroll">Donate Now</a>
      </div>
    </div>
  </div>
</section>
