<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Chiyambi Communuty Foundation</h1>
      <img src="img/logo.png" alt="logo" id="logo"/>
      <p>
        {{ site.description }}
      </p>
      {%- comment %}
        <a href="/donate" class="btn btn-primary btn-xl page-scroll">Donate Now</a>
      {%- endcomment %}
      <a href="https://forms.gle/6X3caEDiC7ZMR6aC9" target="_blank"
          class="btn btn-primary btn-xl page-scroll">
        Join Us
      </a>
    </div>
  </div>
</header>
