<section class="no-padding" id="projects">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="https://donorsee.com/project/29134?share=1" class="portfolio-box" target="_blank">
          <img src="img/portfolio/susan.png" class="img-responsive" alt="Susan">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Income Generating Activities
              </div>
              <div class="project-name">
                Jumpstart Susan's New Business
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://donorsee.com/project/29136?share=1" class="portfolio-box" target="_blank">
          <img src="img/portfolio/royd.png" class="img-responsive" alt="Royd">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Zambians with Disabilities
              </div>
              <div class="project-name">
                Revive Royd's Independence with a Wheelchair
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://donorsee.com/project/29306?share=1" class="portfolio-box" target="_blank">
          <img src="img/portfolio/stephen.png" class="img-responsive" alt="Stephen">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Food Security
              </div>
              <div class="project-name">
                Empower Stephen's Farm
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://donorsee.com/project/26465?share=1" class="portfolio-box" target="_blank">
          <img src="img/portfolio/borehole.png" class="img-responsive" alt="Bore hole">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Water for a Brighter Future
              </div>
              <div class="project-name">
                Drill a Borehole for Ibex Compound
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://donorsee.com/project/28920?share=1" class="portfolio-box" target="_blank">
          <img src="img/portfolio/vasty.png" class="img-responsive" alt="Vasty">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Natural Disasters
              </div>
              <div class="project-name">
                Restoring Hope for Vasty: Essentials for a Fresh Start
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://donorsee.com/project/26468?share=1" class="portfolio-box" target="_blank">
          <img src="img/portfolio/solar-lights.png" class="img-responsive" alt="Solar-Lights">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Supporting Education
              </div>
              <div class="project-name">
                Boosting Education in Katete with Solar Lights
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
