<section class="bg-dark" id="cell">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          Stay Connected
        </h2>
        <hr class="light">
        <p class="text-faded">
          <p>
            Get monthly updates from Zambia, stories from the Chiyambi team,
            news, and ways to support the work. Join a global community of
            supporters.
          </p>
        <a href="https://forms.gle/6X3caEDiC7ZMR6aC9" target="_blank"
            class="btn btn-default btn-xl page-scroll">
          Join Us
        </a>
      </div>
    </div>
  </div>
</section>
